<div class="container answer">
  <form>
    <div class="form-group">
      <label for="answer">AFAIK The Answer Is:</label>
      {{input class="form-control" type="text" value=answer id="answer"}}
    </div>
    <div class="form-group">
      <label  for="author">In the Expert Opinion Of:</label>
      {{input class="form-control" type="text" value=author id="author"}}
    </div>
    <div class="form-group">
      <label  for="date" >Answered On:</label>
      {{input class="form-control" type="date" value=date id="date"}}
    </div>
    <div class="form-group">
      <label for="whereGoogleSentMe">Where did Google Show you the Answer?(link)</label>
      {{input type="url" rows="12" class="form-control" value=whereGoogleSentMe id="whereGoogleSentMe"}}
    </div>
    <button class="btn btn-lg btn-info" {{action 'answerQuestion' answer}}>Share Your Knowledge</button>
  </form>
</div>
