
{{#if editQuestion}}
<div class="container question-edit">
  <h2>edit the question</h2>
  <form>
    <div class="form-group">
      <label for="theQuestion">What do you Want to know?</label>
      {{input class="form-control" type="text" value=theQuestion id="theQuestion" placeholder=question.theQuestion}}
    </div>
    <div class="form-group">
      <label  for="asker">Who Are You?</label>
      {{input class="form-control" type="text" value=asker id="asker" placeholder=question.asker}}
    </div>

    <div class="form-group">
      <label for="inContext">Why are you Asking?</label>
      {{textarea rows="12" class="form-control" value=inContext id="inContext" placeholder=question.inContext}}
    </div>
    <button class="btn btn-lg btn-primary" {{action 'update' question}}>Submit Edits</button>
  </form>
</div>
{{else}}
<button class="btn btn-primary btn-lg" {{action 'showUpdate'}}>UPDATE THE QUESTION!</button>
{{/if }}
